<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", {
      href: "javascript:window.history.back()"
    } %>

    <%= render "govuk_publishing_components/components/title", {
      title: "Request annual leave",
      average_title_length: "long",
    } %>

    <%= form_with url: "/annual_leave_requests/check", method: :get do %>
      <%= render "govuk_publishing_components/components/label", {
        text: "Date from:",
        html_for: "annual_leave_request[date_from]",
        heading_size: "s"
      } %>

      <%= render "govuk_publishing_components/components/date_input", {
        name: "annual_leave_request[date_from]",
        hint: "For example, 31 3 2023. Dates are inclusive.",
        items: [
          {
            name: "day",
            width: 2,
            value: @annual_leave_request.date_from&.day
          },
          {
            name: "month",
            width: 2,
            value: @annual_leave_request.date_from&.month
          },
          {
            name: "year",
            width: 4,
            value: @annual_leave_request.date_from&.year
          }
        ]
      } %>

      <%= render "govuk_publishing_components/components/label", {
        text: "Date to:",
        html_for: "annual_leave_request[date_to]",
        heading_size: "s"
      } %>

      <%= render "govuk_publishing_components/components/date_input", {
        name: "annual_leave_request[date_to]",
        hint: "For example, 31 3 2023. Dates are inclusive.",
        items: [
          {
            name: "day",
            width: 2,
            value: @annual_leave_request.date_to&.day
          },
          {
            name: "month",
            width: 2,
            value: @annual_leave_request.date_to&.month
          },
          {
            name: "year",
            width: 4,
            value: @annual_leave_request.date_to&.year
          }
        ]
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Continue"
      } %>
    <% end %>
  </div>
</div>
