<li class="govuk-summary-card__action">
  <a class="govuk-link" href=<%= annual_leave_request_approve_path(annual_leave_request) %>>
    Approve
    <span class="govuk-visually-hidden">
      <%= annual_leave_request.status %> annual leave request from 
      <%= annual_leave_request.date_from %> to <%= annual_leave_request.date_to %>
    </span>
  </a>
  </li>
  <li class="govuk-summary-card__action">
  <a class="govuk-link" href=<%= annual_leave_request_deny_path(annual_leave_request)%>>
    Deny
    <span class="govuk-visually-hidden">
      <%= annual_leave_request.status %> annual leave request from 
      <%= annual_leave_request.date_from %> to <%= annual_leave_request.date_to %>
    </span>
  </a>
</li>
